<div class="notes-wrap">
    <span class="material-icons" routerLink='/workplace'> keyboard_arrow_left </span>
    <span class="material-icons" (click)="openAddNoteDialog()"> add_circle_outline </span>

    <div>
        <mat-list>
            <mat-list-item *ngFor="let note of notes">
              <h3 matLine> {{note.title}} </h3>
              <p matLine [innerHTML]="note.text">
                {{note.text}}
              </p>
              <div><span>{{note.createdAt}}</span></div>
            </mat-list-item>
          </mat-list>
    </div>
</div>
