<div class="auth-wrap">
  <form [formGroup]="loginForm">
    <h3>Sign in</h3>
    <mat-form-field class='auth-input'
      [ngClass]='{"error-border":loginForm.controls.email.errors?.pattern && submitted}'>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error *ngIf="loginForm.controls.email.errors?.pattern && submitted">
        <p class="form-error">Please enter a valid email address</p>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="auth-input"
      [ngClass]='{"error-border":loginForm.controls.password.errors?.pattern && submitted}'>
      <input matInput type="password" placeholder="Password" formControlName="password" />
      <mat-error *ngIf="loginForm.controls.password.errors?.pattern && submitted">
        <p class="form-error">Please enter a valid password</p>
      </mat-error>
    </mat-form-field>
    <button mat-button color="primary" (click)="signIn(); $event.preventDefault()">Sign in</button>
    <p>Don't have an account? <span routerLink='/auth/sign-up'>Go to Sign up</span></p>
  </form>
</div>