.auth-wrap {
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 18px;
  background-color: rgb(245, 245, 245);

  form {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 40px;

    h3 {
      margin: 0;
      color: rgb(128, 128, 128);
      margin-bottom: 15px;
    }

    .auth-input {
      width: 300px;
      padding: 5px;
      border-bottom: 1px solid rgb(211, 211, 211);
      margin-bottom: 20px;
      color: rgb(128, 128, 128);

      .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0;
      }

      .form-error {
        margin: 10px 0;
        color: rgb(255, 0, 0);
        font-size: 14px;
      }

      
    }
    .error-border {
      border-bottom: 1px solid rgb(255, 0, 0) !important;
    }

    button {
      width: 100px;
      color: rgb(128, 128, 128);
      font-size: 16px;
      margin: 10px 0;
    }

    p {
      color: rgb(128, 128, 128);
      font-size: 16px;

      span {
        font-weight: 600;
        cursor: pointer;
        outline: none;
      }
    }
  }
}
